body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-container {
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="submit"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
}

.registration-button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px auto;
    background-color: #5CACEE;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.registration-button:hover {
    background-color: #3C9EE5;
}

.login-link {
    display: block;
    margin-top: 20px;
    color: #5CACEE;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

.alert {
    color: red;
    margin-bottom: 20px;
}
